@page "/ViewSimexQtyMinimum"
@using  Newtonsoft.Json
@using adesoft.adepos.webview.Data
@using adesoft.adepos.webview.Data.DTO.Simex
@using adesoft.adepos.webview.Data.Model.Simex
@inject DialogService dialogService
@inject NotificationService notificationService
@inject SimexService simexService
@inject IJSRuntime JSRuntime
@code {

    List<QtyMinimum> qtyMinimums;

    public QtyMinimum model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        qtyMinimums = await simexService.GetQtyMinimums();
        model = new QtyMinimum();
    }

    async void ShowNotification(NotificationMessage message)
    {
        notificationService.Notify(message);
    }

    async void AddQtyMinimum()
    {
        if (string.IsNullOrEmpty(model.ItemId) || model.Qty  == 0)
        {
            ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Error, Summary = "ERROR", Detail = "Todos los campos son obligatorios.", Duration = 4000 });
            return;
        }

        model = await simexService.SaveQtyMinimum(model);

        qtyMinimums = await simexService.GetQtyMinimums();

        model = new QtyMinimum();
    }

    async void RemoveQtyMinimum(QtyMinimum qtyMinimum)
    {
        try
        {
            var isRemove = await simexService.RemoveQtyMimimum(qtyMinimum);
            if (isRemove)
            {
                qtyMinimums.Remove(qtyMinimum);
            }
            else
            {
                ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Error, Summary = "ERROR", Detail = "La cantidad minima no pude ser eliminada, por favor intenta de nuevo.", Duration = 4000 });
                return;
            }
        }
        catch(Exception ex)
        {
            ShowNotification(new NotificationMessage() { Severity = NotificationSeverity.Error, Summary = "ERROR", Detail = "La cantidad minima no pude ser eliminada, por favor intenta de nuevo.", Duration = 4000 });
            return;
        }

    }

}

<div class="card">
    <div class="card-header">
        CANTIDAD MINIMA

        <div class="float-right">
            <a href="javascript:void(0);" @onclick="@(args=> { dialogService.Close(); })">Cerrar</a>
        </div>
    </div>
    <div class="card-body">

        <RadzenFieldset Text="Cantidad minima">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="Filter4">Producto</label>
                    <RadzenTextBox class="form-control" @bind-Value="model.ItemId"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputinit">Cantidad</label>
                    <RadzenNumeric Name="value" TValue="decimal" @bind-Value="model.Qty" class="form-control" />
                </div>
                <div class="form-group col-md-3">
                    <label class="d-block">&nbsp;</label>
                    <input class="btn btn-success btn-sm" @onclick="AddQtyMinimum" value="+ Adicionar" type="button" />
                </div>
            </div>
            <div class="form-row">

                <RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true" PageSize="50" AllowSorting="true" Data="@qtyMinimums" TItem="QtyMinimum" ColumnWidth="200px">
                    <Columns>
                        <RadzenGridColumn TItem="QtyMinimum" Property="ItemId" Title="Producto">
                            <Template Context="data">
                                @(data.ItemId)
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="QtyMinimum" Property="QtyMinimum" Title="Cantidad mimima">
                            <Template Context="data">
                                @(string.Format("{0:N}", data.Qty))
                            </Template>
                        </RadzenGridColumn>
                        <RadzenGridColumn TItem="QtyMinimum" Title="">
                            <Template Context="data">
                                <NavLink href="javascript:void(0);" @onclick="@(args=> { RemoveQtyMinimum(data); })">Eliminar</NavLink>
                            </Template>
                        </RadzenGridColumn>
                    </Columns>
                </RadzenGrid>

            </div>
        </RadzenFieldset>
    </div>
</div>